body {
  margin: 0;
  font-family: 'IM Fell French Canon', serif;
  text-align: center;
  color: #40514E;
}

.top-container {
  background-color: #E4F9F5;
  padding-top: 100px;
  position: relative;
  }
.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
  font-size: 200%;
}
.firstpar {
  width: 30%;
  margin: auto;
}
hr {
  border-top: 7px dotted #EAF6F6;
  border-bottom: none;
  border-left: none;
  border-right: none;
  margin: 50px auto 50px auto;
  width: 5%;

}
h1 {
color: #66BFBF;
  text-align: center;
  letter-spacing: 0.01em;
  font-size: 5.625rem;
  padding-bottom: 10px;
  font-family: 'Euphoria Script', cursive;
  line-height: 2;
}
h2 {
  text-align: center;
  margin-top: 5px;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
}
span {
  text-decoration: underline;
}
.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom:300px;
}
.mountain {
display: block;
margin: 0 auto 0 auto;
}

.profile_photo {
  width: 15%;
  display: block;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}
.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: justify;
  line-height: 2;
}

.gif {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.idea {
  width: 25%;
  float: right;
  margin-left: 30px;
}

h3 {
  color: #11999E;
  margin-bottom: 25px;
}
a {
  color: #11999E;
}
a:hover {
  color: #30e3cb;
}
.secondpar {
  width: 30%;
  margin: auto;
  padding-bottom: 25px;
}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  position: relative;
  top: 25px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.bottom-container {
  background-color: #66BFBF;
  margin-top: 75px;
  padding-top: 50px;
  padding-bottom: 25px;
  position: relative;
}
.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
}

.footer-link {
display: inline;
width: auto;
height: auto;
padding: 15px;
position: relative;
bottom: 20px;
text-decoration: none;
}
